.home-logo {
    height: 23vh;
    transition: 0.3s all;
    padding-top: 1rem;
}

.logo-container h1 {
    font-size: 1.2rem;
    /* // fontSize: "0.9rem", */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-container .home-title {
    font-size: 2.7rem;
}

@media (max-width: 600px) {
    .home-logo {
        height: 15vh;
    }
    .logo-container h1{
        font-size: 12px;
    }
    .form-container .home-title {
        font-size: 2rem;
    }
    .form-container p{
        font-size: medium;
        text-align: justify;
    }
}